In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys

In [2]:
sys.setrecursionlimit(1000)

In [3]:
print(pd.__version__)

1.5.3

In [3]:
DF = pd.read_csv(
    '../../2023빅콘테스트_어드밴스드리그_예술의전당.csv',
    parse_dates=[
        'tran_date',  
        'play_date', 
        'pre_open_date', 
        'open_date',
        ]
)

In [5]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1920868 entries, 0 to 1920867
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   age                float64
 1   gender             object
 2   membership_type_1  object
 3   membership_type_2  object
 4   membership_type_3  object
 5   membership_type_4  object
 6   membership_type_5  object
 7   membership_type_6  float64
 8   tran_date          datetime64[ns]
 9   tran_time          int64
 10  play_date          datetime64[ns]
 11  play_st_time       int64
 12  seat               object
 13  price              int64
 14  ticket_cancel      int64
 15  discount_type      object
 16  performance_code   int64
 17  pre_open_date      datetime64[ns]
 18  open_date          datetime64[ns]
 19  genre              object
 20  place              object
 21  running_time       int64
 22  intermission       int64
 23  member_yn          object
dtypes: datetime64[ns](4), float64(2), int64(7), object(11)
memory usage: 351.7+ MB

In [6]:
DF[DF['tran_time'] == 0]

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
2947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-06-13,0,...,0,일반,2819,2023-04-28,2023-04-29,NaN,콘서트홀,120,15,N
4702,20.0,F,무료,싹틔우미,NaN,NaN,NaN,NaN,2021-12-14,0,...,2,일반,132,2021-11-12,2021-11-12,실내악,IBK챔버홀,90,15,Y
5402,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,2019-01-08,0,...,0,일반,69,2018-11-23,2018-11-24,클래식,IBK챔버홀,100,15,Y
7654,60.0,F,블루,골드,무료,NaN,NaN,NaN,2022-12-14,0,...,0,경로우대(동반1인/만65세이상)50%,450,2022-11-27,2022-11-28,교향곡,콘서트홀,98,15,Y
10651,30.0,M,무료,NaN,NaN,NaN,NaN,NaN,2023-04-14,0,...,0,문화릴레이(1인2매/실물티켓제시)30%,497,NaT,2022-12-25,교향곡,콘서트홀,110,0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906230,30.0,M,골드,무료,그린,NaN,NaN,NaN,2023-04-30,0,...,2,장애인/국가유공자 할인50%,1416,2023-02-19,2023-02-20,독주,콘서트홀,135,0,Y
1911781,30.0,M,골드,무료,그린,NaN,NaN,NaN,2023-03-02,0,...,2,의상자(3급이하/본인만)50%,2085,2023-01-07,2023-01-08,교향곡,콘서트홀,120,0,Y
1912793,20.0,F,무료,싹틔우미,NaN,NaN,NaN,NaN,2022-06-09,0,...,2,일반,1635,2022-04-08,2022-04-09,독주,콘서트홀,100,20,Y
1913817,40.0,F,골드,무료,그린,NaN,NaN,NaN,2022-04-30,0,...,2,그린회원 할인5%,306,NaT,2021-12-20,교향곡,콘서트홀,120,15,Y
1918054,50.0,F,무료,그린,NaN,NaN,NaN,NaN,2023-02-27,0,...,2,그린회원 할인5%,863,2023-02-03,2023-02-04,교향곡,콘서트홀,110,20,Y

In [7]:
DF.columns

Index(['age', 'gender', 'membership_type_1', 'membership_type_2',
       'membership_type_3', 'membership_type_4', 'membership_type_5',
       'membership_type_6', 'tran_date', 'tran_time', 'play_date',
       'play_st_time', 'seat', 'price', 'ticket_cancel', 'discount_type',
       'performance_code', 'pre_open_date', 'open_date', 'genre', 'place',
       'running_time', 'intermission', 'member_yn'],
      dtype='object')

In [8]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1920868 entries, 0 to 1920867
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   age                float64
 1   gender             object
 2   membership_type_1  object
 3   membership_type_2  object
 4   membership_type_3  object
 5   membership_type_4  object
 6   membership_type_5  object
 7   membership_type_6  float64
 8   tran_date          datetime64[ns]
 9   tran_time          int64
 10  play_date          datetime64[ns]
 11  play_st_time       int64
 12  seat               object
 13  price              int64
 14  ticket_cancel      int64
 15  discount_type      object
 16  performance_code   int64
 17  pre_open_date      datetime64[ns]
 18  open_date          datetime64[ns]
 19  genre              object
 20  place              object
 21  running_time       int64
 22  intermission       int64
 23  member_yn          object
dtypes: datetime64[ns](4), float64(2), int64(7), object(11)
memory usage: 351.7+ MB

In [4]:
priceDF = DF.drop(columns=['age', 'gender', 'running_time', 'tran_date',
                            'intermission', 'member_yn', 'tran_time', 'genre',
                            'pre_open_date', 'open_date', 'ticket_cancel', 'play_st_time',
                            'membership_type_1', 'membership_type_2', 'membership_type_3',
                            'membership_type_4', 'membership_type_5', 'membership_type_6'])
priceDF.sort_values('play_date', inplace=True)
priceDF.set_index(['play_date', 'performance_code'], inplace=True)
priceDF

                                     seat  price discount_type   place
play_date  performance_code
2018-11-17 1674              1층 B블록 11열 1  20000            일반  IBK챔버홀
           1674              1층 B블록 5열 10  20000            일반  IBK챔버홀
           1674              1층 B블록 3열 10   5000       당일할인티켓_  IBK챔버홀
           1674              1층 B블록 3열 14  20000            일반  IBK챔버홀
           1674              1층 B블록 4열 12      0           초대권  IBK챔버홀
...                                   ...    ...           ...     ...
2023-07-07 710                    2층 3열 1  30000            일반   리사이틀홀
           710                  1층 12열 12      0         기획사판매   리사이틀홀
           710                    1층 7열 5  35000    골드회원 할인30%   리사이틀홀
           914                1층 A블록10열 9  60000    싹딜가(블루)40%    콘서트홀
           914                1층 C블록2열 12  65000         공연예매권    콘서트홀

[1920868 rows x 4 columns]

In [5]:
nozeroDF = priceDF[priceDF['price'] != 0]
nozeroDF

                                     seat  price discount_type   place
play_date  performance_code
2018-11-17 1674              1층 B블록 11열 1  20000            일반  IBK챔버홀
           1674              1층 B블록 5열 10  20000            일반  IBK챔버홀
           1674              1층 B블록 3열 10   5000       당일할인티켓_  IBK챔버홀
           1674              1층 B블록 3열 14  20000            일반  IBK챔버홀
           1674              1층 B블록 3열 15  20000            일반  IBK챔버홀
...                                   ...    ...           ...     ...
2023-07-07 914               합창석 G블록3열 33  47000     그린회원 할인5%    콘서트홀
           710                    2층 3열 1  30000            일반   리사이틀홀
           710                    1층 7열 5  35000    골드회원 할인30%   리사이틀홀
           914                1층 A블록10열 9  60000    싹딜가(블루)40%    콘서트홀
           914                1층 C블록2열 12  65000         공연예매권    콘서트홀

[673496 rows x 4 columns]

In [6]:
noDis = nozeroDF[nozeroDF['discount_type']=='일반']
yesDis = nozeroDF[nozeroDF['discount_type']!='일반']

In [102]:
no_percent = [i for i in yesDis['discount_type'].unique() if '%' not in i]
no_percent, len(no_percent)

(['당일할인티켓_',
  '당일할인티켓',
  '차액',
  '2+1 특별할인',
  '청소년(8세이상~만24세이하)',
  '싹틔우미 할인',
  '공연예매권',
  '특판B',
  '특판D',
  '골드회원+음반 패키지',
  '초/중/고/대학생 할인(본인만)',
  '특별할인(2+1)',
  '3인패키지',
  '4인패키지',
  '골드회원+음반패키지',
  '초/중/고등학생 할인(본인만)',
  '초/중/고/대학생(대학원생) 할인',
  '특판A',
  '초/중/고/대학생 할인(본인)',
  '초/중/고/대학생 할인',
  '초/중/고/대학생(본인)+음반패키지',
  '골드회원 할인+음반패키지',
  '초/중/고/대학생',
  '20,000원 할인',
  '일만원의 나눔',
  '삼만원의 행복',
  '오만원의 사랑',
  '이만원의 기쁨',
  '조기예매할인(1+1/~9.25까지)',
  '100주년 기념 할인(1+1)',
  '기획사',
  '이랍',
  '학생할인',
  '기획사할인',
  '초대권',
  '공연진행석',
  '초/중/고등학생 할인',
  '도서 인증 (현장제시)',
  '일반석',
  '기획사판매',
  '하비에르 국제학교 학부모, 직원',
  '하비에르 국제학교 재학생',
  'S석 기획사 할인',
  'R석 기획사 할인',
  '수험생 할인(동반1인)',
  'R석 기획사할인',
  'S석 기획사할인',
  '블랙프라이데이 이벤트',
  '도서 인증 A',
  '도서 인증 S',
  '노르웨이의 숲 도서 인증 할인',
  'S석+호두까기인형 패키지',
  'A석+호두까기인형 패키지',
  '초/중/고/대학(원)생 할인'],
 54)

In [13]:
for i in yes_percent:
    if i[-3:-2].isalpha():
        print('alpha')
        print(i)

alpha
블루회원 할인5%
alpha
그린회원 할인5%
alpha
골드회원 할인5%
alpha
후원회원 할인5%
alpha
조기예매 할인5%
alpha
초/중/고/대학생 할인5%

In [14]:
yesDis.shape

(436542, 4)

In [15]:
type(noDis.price)

pandas.core.series.Series

In [100]:
def divide_conquer(df1, df2):
    if df1.shape[0] > 1:
        df1_half = df1.shape[0]//2
        df1 = divide_conquer(df1.iloc[:df1_half], df1.iloc[df1_half:])
    if df2.shape[0] > 1:
        df2_half = df2.shape[0]//2
        df2 = divide_conquer(df2.iloc[:df2_half], df2.iloc[df2_half:])
        
    if df1.shape[0] == 1:
        df1 = pd.DataFrame(calOrigin(df1))
    if df2.shape[0] == 1:
        df2 = pd.DataFrame(calOrigin(df2))

    return pd.concat([df1, df2], join='inner')


def calOrigin(sr):
    disType = sr['discount_type'][0]
    origin = sr.iloc[0]['price']
    if '%' in disType:
        rate = disType[-3:-1]
        if rate[-3:-1].isdecimal():
            origin = float(sr.iloc[0]['price']) * (100.0 / (100.0-float(rate)))
            
        else:
            origin = float(sr.iloc[0]['price']) * (100.0 / (100.0-float(rate[-1])))
    else:
        

    return pd.concat([sr, pd.DataFrame([[origin]])])

In [34]:
yesDis['discount_type'][1]

'싹틔우미 할인40%'

In [ ]:
yesDis.iloc[100:200]

In [ ]:
yesDis.iloc[:100]

In [101]:
experiment = divide_conquer(yesDis.iloc[:100], yesDis.iloc[100:200])
experiment

,seat,price,discount_type,place,0
"(2018-11-17 00:00:00, 1674)",1층 B블록 3열 10,5000.0,당일할인티켓_,IBK챔버홀,NaN
0,NaN,NaN,NaN,NaN,5000.0
"(2018-11-17 00:00:00, 1674)",1층 B블록 10열 10,12000.0,싹틔우미 할인40%,IBK챔버홀,NaN
0,NaN,NaN,NaN,NaN,20000.0
"(2018-11-17 00:00:00, 1674)",1층 B블록 11열 1,16000.0,그린회원 할인20%,IBK챔버홀,NaN
...,...,...,...,...,...
0,NaN,NaN,NaN,NaN,20000.0
"(2018-12-15 00:00:00, 513)",1층 4열 9,5000.0,장애인/국가유공자 할인50%,리사이틀홀,NaN
0,NaN,NaN,NaN,NaN,10000.0
"(2018-12-15 00:00:00, 2)",1층 7열 15,10000.0,초/중/고/대학생 할인50%,리사이틀홀,NaN
0,NaN,NaN,NaN,NaN,20000.0

In [56]:
yesDis_half = yesDis.shape[0] // 2
experiment = divide_conquer(yesDis[:yesDis_half], yesDis[yesDis_half:])
experiment

ValueError: could not convert string to float: '인'

In [ ]:
dis_arr = yesDis['discount_type'].unique()
no_percent = [i for i in dis_arr if '%' not in i]
print(no_percent, len(no_percent), sep='\n\n')

['당일할인티켓_', '당일할인티켓', '차액', '2+1 특별할인', '청소년(8세이상~만24세이하)', '싹틔우미 할인', '공연예매권', '특판B', '특판D', '골드회원+음반 패키지', '초/중/고/대학생 할인(본인만)', '특별할인(2+1)', '3인패키지', '4인패키지', '골드회원+음반패키지', '초/중/고등학생 할인(본인만)', '초/중/고/대학생(대학원생) 할인', '특판A', '초/중/고/대학생 할인(본인)', '초/중/고/대학생 할인', '초/중/고/대학생(본인)+음반패키지', '골드회원 할인+음반패키지', '초/중/고/대학생', '20,000원 할인', '일만원의 나눔', '삼만원의 행복', '오만원의 사랑', '이만원의 기쁨', '조기예매할인(1+1/~9.25까지)', '100주년 기념 할인(1+1)', '기획사', '이랍', '학생할인', '기획사할인', '초대권', '공연진행석', '초/중/고등학생 할인', '도서 인증 (현장제시)', '일반석', '기획사판매', '하비에르 국제학교 학부모, 직원', '하비에르 국제학교 재학생', 'S석 기획사 할인', 'R석 기획사 할인', '수험생 할인(동반1인)', 'R석 기획사할인', 'S석 기획사할인', '블랙프라이데이 이벤트', '도서 인증 A', '도서 인증 S', '노르웨이의 숲 도서 인증 할인', 'S석+호두까기인형 패키지', 'A석+호두까기인형 패키지', '초/중/고/대학(원)생 할인']

54

In [ ]:
newDF = nozeroDF[['seat', 'play_st_time']]

MultiIndex([('2018-11-01',  715),
            ('2018-11-01',  715),
            ('2018-11-01',  715),
            ('2018-11-01',  715),
            ('2018-11-01',  715),
            ('2018-11-01',  715),
            ('2018-11-01',  715),
            ('2018-11-01',  715),
            ('2018-11-01',  715),
            ('2018-11-01',  715),
            ...
            ('2023-07-03',  710),
            ('2023-07-03',  710),
            ('2023-07-03',  914),
            ('2023-07-03',  914),
            ('2023-07-03', 1454),
            ('2023-07-03',  710),
            ('2023-07-03',  710),
            ('2023-07-03',  914),
            ('2023-07-03',  710),
            ('2023-07-03',  914)],
           names=['tran_date', 'performance_code'], length=1920868)

In [ ]:
def divde_conquer():